.sliding-card {
    position: relative;
    width: 300px;
    height: 200px;
    background: url(https://picsum.photos/800);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
}
  
.sliding-card .card-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all ease-in-out 0.5s;
}
  
.sliding-card:hover .card-content {
    bottom: 0;
}